body{
    font-family: Helvetica Neue;
}

#purplebody{
    background-color: #9BA2FF;
}

#body1{
    background-image: url('uscjohnmckay.jpg');
    background-blend-mode: multiply;
    background-size: 100%;
    background-color: #9BA2FF;
    overflow-x: hidden;
    overflow-y: scroll;
}

#body2{
    background-image: url('resultsimage.png');
    background-size: 100%;
    background-blend-mode: overlay;
    background-color: #9BA2FF;
    overflow-x: hidden;
    overflow-y: scroll;

}

#body3{
    background-image: url('detailsimage.png');
    background-size: 100%;
    background-blend-mode: overlay;
    background-color: #9BA2FF;
    overflow-x: hidden;
    overflow-y: scroll;

}

#container{
    margin: 20px;
}

img{
    width: 100px;
}

.dot{
    background-color: #20A4F3;
    border-radius: 50%;
}

#dot1{
    height: 300px;
    width: 300px;
    top: -100px;
    left: -100px;
    position: absolute;
}

#dot2{
    height: 600px;
    width: 600px;
    bottom: -250px;
    right: -300px;
    position: absolute;
}

#header{
    margin:auto;
    text-align: center;
    height: auto;
}

h1{
    font-size: 42pt;
    font-weight: bold;
    color: white;
}

h2{
    font-size: 24pt;
    color: white;
}

p1{
    font-size: 12pt;
    color: black;

}

.wellnesstext{
    font-size: 24pt;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wellnessimage{
    width: 400px;
    border: 3px solid black;
    margin-top: 40px;
    margin-bottom: 20px;
}

#resultheader{
    margin:auto;
    text-align: center;
    height: auto;
}

#nav{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    text-decoration: none;
}

.navitem{
    margin-top: 30px;
    color: white;
    font-size: 12pt;
}

#mainadmin{
    padding: 20px;
    background-color: #FFBD00;
    text-decoration: none;
    text-align: center;
}
.adminbutton{
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    font-family: "Helvetica Neue";
    font-size: 10pt;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: #FFBD00;
}

a:hover{
    text-decoration: underline;
}

#mainbox{
    display:flex;
    flex-direction: column;
    width: 550px;
    height: auto;
    margin: auto;
    border: 3px solid black;
    border-radius: 22px;
}

#box1{
    flex-grow: 1;
    background-color:#9BA2FF;
    color: white;
    text-align: center;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: auto;
    border-bottom: 3px solid black;
    width: auto;
}

#box2{
    flex-grow: 5;
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#preferences{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
//width: 200px;
// height: 200px;
//margin-left: 100px;
    font-size: 10pt;
    align-content: center;
    margin: auto;

}

.searchselect{
    font-weight: bold;
    border-width: 2px;
    border-color: black;
    text-align: center;
    padding: 2px;
    background-color: white;
    width: 100px;
}

.button{
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Helvetica Neue";
    font-size: 10pt;
}

#search{
    background-color: #F4F1DE;
    padding-left: 10px;
}

#submit{
    font-weight: bold;
    border-width: 2px;
    text-align: center;
    padding: 2px;
    background-color: #9BA2FF;
    color: white;
}

#submit:hover{
    background-color: white;
    color: black;
}

#view_all{
    font-weight: bold;
    border-width: 2px;
    text-align: center;
    padding: 2px;
    background-color: #7BC950;
    color: white;
}

#view_all:hover{
    background-color: white;
    color: black;
}

#text1{
    position: relative;
    margin-left: 3%;
    margin-top: 1%;
    width: 30%;
    background-color: rgba(255,255,255,.75);
    border-radius: 20px;
    height: auto;
    padding: 20px;
    z-index: 1;
    box-shadow: 2px 2px 5px black;
}

/*#floatingbox{*/
/*    position: relative;*/
/*    margin-top: 0%;*/
/*    width: auto;*/
/*    height: auto;*/
/*    background-color: rgba(255,255,255);*/
/*    border-radius: 20px;*/
/*    height: auto;*/
/*    padding: 1%;*/
/*    z-index: 2;*/
/*    box-shadow: 2px 2px 5px black;*/
/*}*/

#checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#textinputs{
    line-height: 1.5;
}

.detaillink{
    color:#8E0013;
    opacity: 100% !important;
}

#resultbox{
    width: 80%;
    background-color: white;
    border-radius: 20px;
    border: black solid 3px;
    height: auto;
    padding: 20px;
    z-index: -1;
    margin: auto;
    box-shadow: 2px 2px 5px black;
}


#detailbox{
    width: 80%;
    background-color: white;
    border-radius: 20px;
    border: black solid 3px;
    height: auto;
    z-index: -1;
    box-shadow: 2px 2px 5px black;
}

#details{
    padding: 20px;
}

#detailflexparent{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 5%;

}

#detailflexchild1{
    flex-grow: 1.5;
}

#detailflexchild2{
    flex-grow: 1;
    width: 50%;
}


/* Admin Page Nav Bar */

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 12pt;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 9pt;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    width: 140px;
}

/* Add a purple background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9BA2FF;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 9pt;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}